

#app-wrapper{
  background-color: #9296a6;
}
#logo {
  position: absolute;
      margin-left: -54px;
      margin-top: -42px;
      transform: rotate(-13deg);
      width: 105px;

}


#header-title{
  background-color: #a80311;
  color:white;
}
.strike-rect{
  stroke: white;
  stroke-width:3;
}

#opening-menu h3{
  padding: 3px;
margin-left: 33px;
}
#login-container{
    border: 2px solid black;
    border-radius: 2px;
    background-color: black;
    opacity: .85;
    width: 400px;
    height: 400px;
    margin: auto;

}


#login-container h3{
    text-align: center;
    margin: 70px 20px 50px;
    color:white;
}

#login-container input{
    display: block;
    margin: 20px auto;

}
#login-container button{
    display: block;
    width:255px;
    margin: 50px auto 5px;
    background-color: #A8A8A8;
}

#start-background{

  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-image: url(../../img/homeplate.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}
#select-menu{
  display: none;
    border: 2px solid black;
    border-radius: 2px;
    background-color: black;
    opacity: .85;;
    padding: 40px;
    color:white;
    opacity: .85;
    width: 400px;
    height: 630px;
    margin: auto;
}

#opening-menu{
    border: 2px solid black;
    border-radius: 2px;
    background-color: black;
    opacity: .85;;
    padding: 40px;
    color:white;
    opacity: .85;
    width: 400px;
    height: 600px;
    margin: auto;
}

#select-menu h3{
    text-align: center;
    margin-bottom: 40px;
}
.form-group p{
    text-align: center;
    font-weight: bolder;
    font-size: 1.1em;

}

#start-btn{
    width: 250px;
    margin-top: 5px;
}
#new-btn-back{
  width: 250px;
}

#new-btn{
    width: 250px;
    background-color: lightblue;
      margin: 20px auto;
}

#load-btn{
    width: 250px;
    background-color: grey;
    margin: 20px auto;
}


#database-btn{
    width: 250px;
    background-color: grey;
    margin: 20px auto;
}
.form-group select{
    display: block;
    width:250px;
    margin: 20px auto;
}

.clear-header{

  top: var(--header-height);

}

#app-title{
  margin:auto;
}

#left-nav-menu {
  height: 100%;
  width: 17vw;
  position: absolute;
  z-index: 15;
  left: -17vw;
  transition: 0.5s;
  background-color: #a8a8a8;
  overflow-x: hidden;
  padding-top: 20px;
}

#left-nav-menu.lnm-opened{
  left:0px;
}

.left-menu-item {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin: 10px 3px;
    color: #15172C;
    background-color: #cec6c5;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #8a8787;
}

#left-nav-menu i {
    position: absolute;
    right: 10px;
}

#select-pitcher-screen{
    background-image: url(../img/homeplate.jpg);
    background-size: cover;
   background-repeat: no-repeat;
}

#sync-roster{
  background-color: black;
  color:white;
}

#transfer-edit-screen{
    background-color: grey;
    overflow-x: hidden;
}

.menu-page{
  height: 100%;
  width:83vw;
  position: absolute;
  z-index: 11;
  left:17vw;
  transition: 0.5s;
  transform: translateX(-100vw);
  overflow-x: hidden;
  }

  .menu-page-open{

    transform: translateX(0);
  }

  @-webkit-keyframes close-window {
    from {   transform:translateX(0); }
    to {    transform:translateX(-100vw); }
  }

  @keyframes close-window {
    from {   transform:translateX(0); }
    to {    transform:translateX(-100vw); }
}

  .page-transition{
    transition: .1s;
    visibility: hidden;
  }

.full-open-menu{
  width: 100%;
  left:0px;
  top:0px;
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 40px;
  color: white;
  font-size: 36px;
    z-index: 12;
}

#select-pitcher-menu{
  text-align: center;
  border: 2px solid black;
  border-radius: 2px;
  background-color: black;
  opacity: .85;;
  padding: 40px;
  color:white;
  opacity: .85;
  width: 400px;
  height: 600px;
  margin: 30px
  auto;
  box-shadow: 3px 3px 10px #000000;
}
#new-pitcher-select {
    margin: 30px 0px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#game-type-group{
  opacity: 0;
  visibility: hidden;
   -webkit-transition: 1s;
  transition: 1s;
}

#game-num-group{
    opacity: 0;
     visibility: hidden;
    -webkit-transition: 1s;
  transition: 1s;
}
#op-team-group{
    opacity: 0;
     visibility: hidden;
   -webkit-transition: 1s;
  transition: 1s;
}

#table-container{
  overflow: scroll;
  height: 80%;
  background-color: whitesmoke;
}

#upload-btn{
  margin-top: 25px;
}

.loader {
  display: inline-block;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*nav icon*/
 #menu-btn {
  width: 35px;
  height: 20px;
  position: relative;
  margin: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menu-btn span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu-btn span:nth-child(1) {

  top: 0px;
}

#menu-btn span:nth-child(2),#menu-btn span:nth-child(3) {

  top: 10px;
}

#menu-btn span:nth-child(4) {

  top: 20px;
}

#menu-btn.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#menu-btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-btn.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}
