@import url("https://fonts.googleapis.com/css?family=PT+Serif|Cinzel");
@import url("https://fonts.googleapis.com/css?family=PT+Serif|Cinzel");
.table-group {
  border: 1px solid black;
  border-radius: 18px;
  box-shadow: 5px 10px 30px #d1d1d1;
  margin-top: 10px;
  background-color: white;
}

.my-tables {
  padding: 5px;
}

.title {
  font-size: 30px;
  padding-left: 10px;
}

.table-border {
  border: 1px solid #dee2e6;
}

.game-stat {
  margin-bottom: 0px;
  margin-left: 32px;
  width: 91.5%;
}

.header {
  background-color: #f8fbff;
}

.header-title {
  font-family: "Cinzel", serif;
  margin-top: 30px;
  color: #002654;
  text-align: center;
  text-align: -webkit-center;
}

.header-title div {
  font-weight: bold;
  font-size: 40px;
}

.header-title p {
  margin-left: 55px;
  font-size: 25px;
}

#header-logo {
  position: absolute;
  margin-left: -87px;
  margin-top: -42px;
  transform: rotate(-8deg);
  width: 105px;
}

#logout {
  position: absolute;
  right: 5px;
  margin: 5px;
}

.clear-header {
  top: 45px;
}

#app-title {
  margin: auto;
}

#left-nav-menu {
  height: 100%;
  width: 17vw;
  position: absolute;
  z-index: 6;
  left: -17vw;
  transition: 0.5s;
  background-color: #f8fbff;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 1px 3px 3px #e4e4e4;
}

.left-menu-item {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
  margin: 2px;
  background-color: #ffffff;
  color: #002654;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #efefef;
}

#left-nav-menu i {
  position: absolute;
  right: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
/*#start-menu {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  position: fixed;*/
/*  z-index: 7;*/
/*  top: 0;*/
/*  left:0;*/
/*background-image: url(../img/homeplate.jpg);*/
/*  overflow-x: hidden;*/
/*  transition: 0.5s;*/
/*  padding-top: 60px;*/
/*}*/
#logo {
  position: absolute;
  margin-left: -54px;
  margin-top: -42px;
  transform: rotate(-13deg);
  width: 105px;
}

#opening-menu h3 {
  padding: 3px;
  margin-left: 33px;
}

#login-container {
  border: 2px solid black;
  border-radius: 2px;
  background-color: black;
  opacity: 0.85;
  width: 400px;
  height: 400px;
  margin: auto;
}

#login-container h3 {
  text-align: center;
  margin: 70px 20px 50px;
  color: white;
}

#login-container input {
  display: block;
  margin: 20px auto;
}

#login-container button {
  display: block;
  width: 255px;
  margin: 50px auto 5px;
  background-color: #A8A8A8;
}

#start-background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-image: url(../img/homeplate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

#select-menu {
  display: none;
  border: 2px solid black;
  border-radius: 2px;
  background-color: black;
  opacity: 0.85;
  padding: 40px;
  color: white;
  opacity: 0.85;
  width: 400px;
  height: 600px;
  margin: auto;
}

#opening-menu {
  border: 2px solid black;
  border-radius: 2px;
  background-color: black;
  opacity: 0.85;
  padding: 40px;
  color: white;
  opacity: 0.85;
  width: 400px;
  height: 600px;
  margin: auto;
}

#select-menu h3 {
  text-align: center;
  margin-bottom: 40px;
}

.form-group p {
  text-align: center;
  font-weight: bolder;
  font-size: 1.1em;
}

#start-btn {
  width: 250px;
  margin-bottom: 5px;
}

#new-btn {
  width: 250px;
  background-color: lightblue;
  margin: 20px auto;
}

#load-btn {
  width: 250px;
  background-color: grey;
  margin: 20px auto;
}

#database-btn {
  width: 250px;
  background-color: grey;
  margin: 20px auto;
}

.form-group select {
  display: block;
  width: 250px;
  margin: 20px auto;
}

.clear-header {
  top: 45px;
}

#app-title {
  margin: auto;
}

#fullscreen {
  position: absolute;
  right: 15px;
}

#left-nav-menu {
  height: 100%;
  width: 17vw;
  position: absolute;
  z-index: 6;
  left: -17vw;
  transition: 0.5s;
  background-color: #f8fbff;
  overflow-x: hidden;
  padding-top: 20px;
}

.left-menu-item {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  margin: 10px 3px;
  color: #15172C;
  background-color: #ebeff5;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #8a8787;
}

#left-nav-menu i {
  position: absolute;
  right: 10px;
}

#select-pitcher-screen {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 11;
  left: 172;
  transition: 0.5s;
  background-image: url(../img/homeplate.jpg);
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

#transfer-edit-screen {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 11;
  left: 172;
  transition: 0.5s;
  background-color: grey;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 12;
}

#select-pitcher-menu {
  text-align: center;
  border: 2px solid black;
  border-radius: 2px;
  background-color: black;
  opacity: 0.85;
  padding: 40px;
  color: white;
  opacity: 0.85;
  width: 400px;
  height: 600px;
  margin: 30px auto;
  box-shadow: 3px 3px 10px #000000;
}

#new-pitcher-select {
  margin: 30px 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
#game-type-group {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#game-num-group {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#op-team-group {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#sign-up:hover {
  cursor: pointer;
  color: #007bff;
}

#role {
  width: 100%;
  margin: 0px;
}

.start-user-btn {
  position: absolute;
  right: -33px;
  top: -33px;
  background-color: black;
  border: none;
}

.start-user-btn:hover {
  border: 1px solid transparent;
  border-color: #6c757d;
}

.start-user-menu {
  background-color: #000;
  color: #fff;
}

.user-btn {
  position: absolute;
  right: 8px;
  top: 5px;
  background-color: #a80311;
  border: none;
}

.user-btn:hover {
  border: 1px solid transparent;
  border-color: #6c757d;
}

.user-menu {
  background-color: #000;
  color: #fff;
}

body {
  font-family: "Cinzel", serif;
  background-color: #f8fbff;
}

#pitch-data-form {
  text-align: center;
}

.card-body {
  padding: 2px;
}

.card {
  color: black;
}

.cust-svg {
  width: 30vw;
  height: calc(30vw * 1.094);
  margin-top: 2%;
  margin-left: 15%;
  border: 1px solid black;
  box-shadow: 5px 10px 15px #d1d1d1;
}

.menu {
  border: 1px solid black;
  box-shadow: 5px 10px 15px black;
  margin-top: 0px;
  background-color: #212529;
  color: #fff;
}

.legend {
  margin-top: 5px;
  margin-bottom: 5px;
}

.legend-item {
  border-radius: 25px;
  text-align: center;
  padding-top: 2px;
  width: 30px;
  height: 30px;
  color: white;
}

.chart-data {
  /*background-color:white;*/
  /*border-radius: 15px;*/
  margin-top: 45px;
  margin-bottom: 20px;
}

.key {
  margin-top: 75px;
}

.key2 th {
  height: 34.4px;
}

.chart-key {
  position: absolute;
  top: 80px;
}

.clear-left-padding {
  padding-left: 0px;
}

#pitcher-title {
  text-align: center;
  margin: 35px;
}

#header_logo {
  padding: 5px;
  height: 140px;
  width: 170px;
}

.logout {
  position: absolute;
  right: 50px;
}

.game-title {
  text-align: center;
  font-size: 30px;
}

.panel-default > .panel-heading {
  background-color: #212529;
  color: white;
}

/*# sourceMappingURL=pitch_data.css.map */
