


/*********************************************LEFT Panel Display***********************************/
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

:root {
  --FB-color: brown;
  --CB-color: brown;
  --SL-color: brown;
  --CH-color: brown;
  --OT-color: brown;
}

body{
  	font-family: 'PT Serif', serif;
}
.left-panel {
   position: relative;
    background-color: #A8A8A8;

}

.bearcub-logo {
   text-align: center;
   padding:0;
}





.session-item {

    border-radius: 5px;
    text-align: center;
    margin-right: 15px;
}

.session-item h6{

    font-weight: bold;
    border-bottom: 2px solid #ccc;
    color: white;
}

.session-item div{
    color: #15172C;
    background-color: white;
    border-radius: 10px;
    padding: 3px 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

#session-game .session-item {
  margin: 10px auto;
}

#session-count .session-item {
  margin: 2px auto;
}


.current-count {
    display: inline-block;
    width: 40%;
}

.count{
  width: 40%;
  margin: auto;
}



/*****************************************Pitch chart**********************************************/

#chart{

    width: 100%
}


.svg-chart {
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);

}

#pitch-zone{
  margin: 0px auto;
  text-align: center;

}





/**************************************Right Panel Display**************************************/

.ui_invalid {
  animation: pulse 1s forwards;
}

@keyframes pulse {
  0% {
    background-color: orange;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
  75% {
    background-color: red;
  }
    100%{
     border-color:red;
     color:red;
    }
}

.warning_indicator {
  animation: pulse2 1s forwards;
}

@keyframes pulse2 {
  0% {
    background-color: yellow;
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: orange;
  }
    100%{
     border-color:yellow;
     color:yellow;
    }
}


.title{
    text-align: center;
    margin: 0px auto;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: auto;
    color: white;

}


#mph-ui {
     -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    background-color: white;
    border-radius: 5px;
    display: block;
    width: 90px;
    margin: 20px auto 5px;;

}

#mph-wrapper{
    width: 55px;
    height: 520px;
    position: absolute;
    right: 0px;
    top: 110px;
    overflow: hidden;
}
#mph-dropdown {
position: absolute;
    right: -55px;

}

.mph-slide {
    -webkit-animation: slide 0.5s both;
    animation: slide 0.5s both;
    z-index: 10;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

.switch-field {
  padding: 8px 0px;
  overflow: hidden;
  z-index:3;
}


.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 48%;
  height:40px;
  background-color: rgba(206, 198, 197);
  color: #15172C;
  line-height: normal;
  padding:10px 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-shadow: none;
    border-radius: 18px;
/*  padding: 10px 14px;*/
    margin:1% 1%;
  -webkit-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow:  0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}
#pitch-fields label{
   font-size: 12px;

}

#pitch-fields label:last-of-type {
    width: 100%;

}

#end-play-options label:last-of-type {
    width: 100%;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #15172C;
  /*-webkit-box-shadow: none;*/
  /*box-shadow: none;*/
    color: #A2A5B8;
}
/*pitch type select radio button*/
#label_FB {
 color: var(--FB-color);
 border-color: var(--FB-color);
}

.switch-field input:checked + #label_FB {
  background-color: var(--FB-color);
  /*-webkit-box-shadow: none;*/
  /*box-shadow: none;*/
    color: #A2A5B8;
}

#label_CB {
 color: var(--CB-color);
 border-color: var(--CB-color);
}

.switch-field input:checked + #label_CB {
  background-color: var(--CB-color);
  /*-webkit-box-shadow: none;*/
  /*box-shadow: none;*/
    color: #A2A5B8;
}

#label_CH {
 color: var(--CH-color);
 border-color: var(--CH-color);
}

.switch-field input:checked + #label_CH {
  background-color: var(--CH-color);
  /*-webkit-box-shadow: none;*/
  /*box-shadow: none;*/
    color: #A2A5B8;
}

#label_SL {
 color: var(--SL-color);
 border-color: var(--SL-color);
}

.switch-field input:checked + #label_SL {
  background-color: var(--SL-color);
  /*-webkit-box-shadow: none;*/
  /*box-shadow: none;*/
    color: #A2A5B8;
}

#label_OT {
 color: var(--OT-color);
 border-color: var(--OT-color);
}

.switch-field input:checked + #label_OT {
  background-color: var(--OT-color);
  /*-webkit-box-shadow: none;*/
  /*box-shadow: none;*/
    color: #A2A5B8;
}
.pitch-label{
    width: 100%;
}

/*toggle switch*/
.toggle {
  position: relative;
  display: block;
  width: 100px;
  height: 34px;
  margin: 5px auto;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider-2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider-2:before {
  position: absolute;
  content: "FP";
    font-size: 15px;
    font-weight: bold;
    color: black;
  padding-left: 15px;
  border-radius: 5px;
  height: 26px;
  width: 50px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:focus + .slider-2 {
  box-shadow: 0 0 1px #15172C;;
}
input:checked + .slider-2:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
    background-color: #15172C;;
    color: white;
}
.selectpicker:first-of-type {
  margin-left: 20px;

}

.btn {
    display:block;
    margin: 0 auto;
}
.right-panel {
    position: relative;
   padding: 10px;
    background-color: #A8A8A8;
    z-index: 3;
}
    .batter-ui {
/*
    font-weight: 700;
    border: 2px solid black;
    position: absolute;
    border-radius: 25px;
    padding: 10px 6px;
    height: 50px;
    width: 50px;
    top: 30vh;
*/
        position: absolute;
        height: 75px;
        width: 50px;
        top: 30vh;
        display: none;



}

#left-batter {
    left: -60px;
    transform: scaleX(-1);
}
#right-batter{
    right:-60px;


}
#mph-title {
display: block;
margin: auto;
text-align: center;
 }
#mph-text{
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;

}
#mph-display {
    display: block;
    margin: auto;
}

#label_sOut{
  -webkit-transition: .4s;
  transition: .4s;
}
#switch_w{
   -webkit-transition: .4s;
  transition: .4s;
}

.entry {
    display: inline-block;
    border-radius: 15px;
    height: 40px;
    padding: 3px;
    margin-top: 5px;
    bottom: 10px;
     -webkit-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    border-style: none;

}
#data-entry{
width: 65%;

}
#undo-entry {
    width: 30%;
    font-size: 15px;
    text-align: center;
    padding: 2px;

}


/*@media screen and (max-width: 995px) , screen and (max-height: 768px) {*/
/*  .right-panel {*/

/*       height: calc((100vw * .75) - 56px);*/
/*    }*/

/*}*/
