@import url('https://fonts.googleapis.com/css?family=PT+Serif|Cinzel');


body {
font-family: 'Cinzel', serif;
	background-color:#f8fbff;
}
#pitch-data-form{
	text-align: center;
}

.card-body{
	padding: 2px;
}
.card{
	color: black;
}

.cust-svg{
	width: 30vw;
	height: calc(30vw * 1.094);
	margin-top: 2%;
	margin-left:15%;
	border: 1px solid black;
		box-shadow: 5px 10px 15px #d1d1d1;
}

.menu{
		border: 1px solid black;
	box-shadow: 5px 10px 15px black;
	margin-top: 0px;
	background-color: #212529;
	color: green;
}

.legend{
	margin-top:5px;
	margin-bottom:5px;

}

.legend-item{
	border-radius:25px;
	text-align: center;
	padding-top: 2px;
	width:30px;
	height:30px;
	color: white;
}

.chart-data{
	/*background-color:white;*/
	/*border-radius: 15px;*/
	margin-top:45px;
  margin-bottom:20px;
}

.key{
	margin-top:75px;
}

.key2 th{
	height: 34.4px;
}

.chart-key{
	position: absolute;
	top:80px;
}

.clear-left-padding{
	padding-left: 0px;
}

#pitcher-title{
	text-align:center;
	margin:35px;
}

#header_logo{
	padding:5px;
	height: 140px;
	width:170px;
}
.logout{
	position:absolute;
	right: 50px;
}

.game-title{
	text-align:center;
	font-size: 30px;

}


.panel-default>.panel-heading {
	background-color: #212529;
	color:white;
}
